@media (min-width: 992px) {
    header {
        font-size: 14px;
    }
  }
  
  @media (min-width: 1030px) {
    header {
        font-size: 16px;
    }
  }
  
  @media (min-width: 1250px) {
    header {
        font-size: 18px;
    }
  }
  
  @media (min-width: 1500px) {
    header {
        font-size: 20px;
    }
  }
  
  @media (min-width: 1900px) {
    header {
        font-size: 24px;
    }
  }
  

.navbar {
    background-image: url('/images/external/top-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    border: none;
    padding: 0 0 0 3em;
    align-items: stretch;
}

.nav-link {
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Extra Condensed', arial;
    font-size: 1.1em;
    font-stretch: ultra-condensed;
    white-space: nowrap;
    color: #fff !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, .6) !important;
}

.navbar .active > .nav-link {
    text-decoration: underline;
}

.nav-link.special {
    color: #fecd4a !important;
    font-weight: bold;
}

.navbar-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
    height: 100%;
}

.red-block {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: .85em;
    line-height: 1.8;
    font-weight: bold;
}

.navbar-brand {
    display: flex;
}

.navbar-logo {
    width: 10.7em;
    margin: auto;
}

.number {
    color: white;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1100px) {
    .navbar-logo {
        width: 110px;
    }
}

@media (max-width: 992px) {
    .navbar {
        padding: .5rem 1rem;
    }

    .navbar-logo {
        width: 130px;
    }

    .red-block {
        display: none;
    }
}

@media (min-width: 1250px) {
    .navbar {
        height: 80px;
    }
}

@media (min-width: 1900px) {
    .navbar-info {
        position: relative;
        justify-content: center;
    }

    .navbar {
        height: 135px;
    }
  
    .red-block {
        position: absolute;
        bottom: 0;
    }
}
