@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    font-family: 'HelveticaNeueCyr';
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: none;
    letter-spacing: 1px;
}

.section-row {
    margin-top: 15px;
}

.logo-container {
    padding: 20px 30px;    
}

.logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    width: 190px;
    height: 63px;
}

.side-menu {
    background-color: rgba(0, 0, 0, 0.7);
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.side-menu a {
    color: white;
    text-decoration: underline;
}

.side-menu a:hover {
    text-decoration: none;
}

.menu-container {
    padding: 60px 30px 0 30px;
}

.menu-container ul {
    list-style-type: none;
    padding: 0;
}

.menu-container ul li {
    font-size: 21px;
    margin-bottom: 20px;
}

.menu-container ul li.active {
    padding-left: 30px;
    /* TODO: add > symbol*/
}

.menu-container ul li a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.menu-container ul li a:hover {
    text-decoration: underline;
}

.sign-buttons-container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 30px 40px 30px;
    width: 225px;
}

.sign-buttons-container a {
    padding-top: 10px;
    font-size: 12px;
}

.sign-buttons-container button {
    letter-spacing: 2px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.custom-btn {
    border: 0;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    margin: 0;
    align-items: flex-start;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    -webkit-writing-mode: horizontal-tb;
    text-decoration: none;
}

.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.custom-btn.primary {
    background-color: #d12333;
}

.custom-btn.red {
    background-color: rgba(255, 0, 0, 0.5);
}

.custom-btn.blue {
    background-color: #164a9e;
}

.custom-btn.blue:hover {
    background-color: #164bc6;
    color: white;
}

.custom-btn.white {
    background-color: #eaeaea;
    color: black;
}

.custom-btn.white:hover {
    background-color: #dadada;
    color: #2e2e2e;
}

.custom-btn.sm {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: bold;
}

.wrap {
    height: 100%;
}

.page-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 22px 22px 22px 272px;
}

.page-container {
    min-height: 100%;
    height: 100%;
}

.page-container .page-content  {
    min-height: 100%;
    padding: 22px;
    background-color: white;
}

.horizontal-menu {

}

.horizontal-menu .menu {
    width: 100%;
    overflow: hidden;
    min-height: 65px;
    padding: 0;
    margin: 0;
}

.horizontal-menu .menu .menu-item {
    min-height: 65px;
    float: left;
    display: block;
    width: 16.66%;
    background-color: white;
    padding: 15px 30px;
    text-align: center;
    position: relative;
}

.horizontal-menu .menu .menu-item::before {
    content: " ";
    display: inline-block;
    height: 100%;
    /*width: 1%;*/
    vertical-align: middle;
}

.horizontal-menu .menu .menu-item a {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.horizontal-menu .menu .menu-item:hover a, 
.horizontal-menu .menu .menu-item.active a {
    color: white;
}

.horizontal-menu .menu .menu-item:hover, 
.horizontal-menu .menu .menu-item.active {
    background-color: #d12333;
    cursor: pointer;
}

.note-message {
    font-size: 14px;
    font-style: italic;
}

.important-text {
    font-size: 18px;
}

.important-text p {
    margin-top: 15px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.block-row {
    margin-top: 10px;
}

.section-row {
    margin-top: 60px;
}

.table-row [class*=' col-'] {
    display: table;
}

.modal-content {
    padding-left: 20px;
    padding-right: 20px;
}

.modal-content .close {
    line-height: 0.6;
    font-weight: 100;
    font-size: 48px;
    opacity: 1;
}

.modal-form {
    padding: 20px 90px 40px 90px;
}

.modal-btn, .modal-btn:hover {
    background-color: #164a9e;
    color: #fff;
}

.checkbox label {
    padding-left: 0;
}

/* CheckBox Style Start*/
.modal-checkbox[type="checkbox"]:not(:checked) + label,
.modal-checkbox[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

.modal-checkbox[type="checkbox"]:not(:checked) + label:before,
.modal-checkbox[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 1.25em; height: 1.25em;
}

.modal-checkbox[type="checkbox"]:not(:checked) + label:before
 {
    border: 2px solid #ccc;
    background-color: #ddd;
}
.modal-checkbox[type="checkbox"]:checked + label:before {
    background-color: #164a9e;
    transition: all .2s;
}
/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9!important;
}

.input-value {
    padding-top: 7px;
}

.range-prefix {
    float: left;
    padding-top: 7px;
}

.input-group .kv-container-to.form-control,
.input-group .kv-container-from.form-control {
    width: auto;
    margin-left: 20px;
}

.input-group .kv-container-from.form-control {
    margin-left: 28px;
}

.form-control {
    height: 30px;
    padding: 6px;
    font-size: 15px;
}

.kv-container-from.form-control, .kv-container-to.form-control {
    padding: 0;
}

.form-horizontal .form-group {
    margin-bottom: 5px;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    vertical-align: middle;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.shopping-cart-total {
    color: #c12928;
}

.shopping-cart-total .total-cost {
    font-size: 18px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    font-weight: bold;
}

.contacts {
    color: #fff;
}

table th a {
    color: #000000;
}

table td a {
    color: #000000;
    text-decoration: underline;
}

table td a:hover {
    text-decoration: none;
}

.additional-link {
    text-decoration: underline;
    color: #818181;
}

.additional-link:hover {
    text-decoration: none;
}

.additional-link .icon {
    margin-right: 15px;
}

.nav-tabs {
    border: 0;
}

.nav-tabs li {
    text-align: center;
}

.nav-tabs > li > a {
    border-radius: 0;
    box-shadow: 1px 1px 4.95px 0.05px rgba(40, 45, 67, 0.15);
    text-shadow: 1px 1px 4.95px rgba(40, 45, 67, 0.15);
    width: 230px;
    padding: 23px;
    margin: 0;
    border: 0;
    color: black;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border: 0;
    background-color: #164a9e;
    color: white;
}

#control-tabs {
    margin-top: -23px;
    margin-bottom: 23px;
}