.has-error .form-control:focus {
    box-shadow: inset 1px 1px 3px 0px #ce8483;
}

.has-error .form-control,
input.has-error {
    box-shadow: inset 1px 1px 3px 0px #a94442;
}

.has-success .form-control:focus {
    box-shadow: inset 1px 1px 3px 0 #67b168;
}

.has-success .form-control {
    box-shadow: inset 1px 1px 3px 0 #3c763d;
}

.form-control {
    border: 0;
    border-radius: 0;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.form-control:focus {
    box-shadow: inset 1px 1px 3px 0px rgba(102, 175, 233, .6);
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder          {
    font-style: italic;
}/* Firefox 19+ */

:-moz-placeholder           {
    font-style: italic;
}/* Firefox 18- */

:-ms-input-placeholder      {
    font-style: italic;
}

.input-group-btn,
div[uib-datepicker-popup-wrap] {
    display:inline;
}

