*, p {
    margin:0;
    padding:0;
}

body {
    font-family: Arial;
}

a {
    color: #fff;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.img-icon {
    width: 24px;
}

.img-fluid {
    width: 100%;
}

/* menu */

.navbar {
    background-image: url(image/top-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    border: none;
    padding: .5rem 3rem;
}

.nav-link{
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Franklin Gothic ', arial;
    font-size: 1.19rem;
    font-stretch: ultra-condensed;
    color: #fff !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, .6) !important;
}

.navbar .active > .nav-link {
    color: #fecd4a !important;
}

.red-block{
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar-logo {
    width: 10.7rem;
}

/* menu */

/* footer */

.footer {
    background-color: #131629;
    padding: 20px 40px;
}

.footer, .footer a {
    color: #b9bbc1;
}

.footer .col {
    margin-bottom: 20px;
}

.footer-info-text {
    text-transform: uppercase;
    color: white;
    font-size: .7rem;
    margin-bottom: 20px;
}

.footer-text, .footer-link {
    font-size: .94rem;
}

.footer-links{
    margin: 10px;
}

.footer-link:hover {
    color: white;
}

.footer-second-logo {
     margin-bottom: 15px;
}

.footer-main-logo, .footer-second-logo {
    display: block;
    margin-bottom: 10px;
}

.footer-main-logo {
    width: 200px;
}

.footer-second-logo {
    width: 240px;
}

.footer .address, .footer .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .social-link .img-icon {
    width: 48px;
}

.footer .social-link + .social-link {
    margin-left: 10px;
}

/* footer */

.content-block {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-header{
    background: url(image/top-header.png) no-repeat;
    background-size: cover;
    padding: 20px 0 20px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.section-header h3 {
    font-size: 1.19rem;
    font-weight: 400;
}

.number{
    color: white;
    font-weight: bold;
}

.info-block-pos{
    margin-top: 30px;
    margin-bottom: 20px;
}

/* card */
.card{
    margin: 20px auto;
    border:none;
}

.card:hover .card-desc {
    top: 0
}

.card-img {
    border-radius: 0;
}

.card-img-overlay.card-desc {
    top: auto;
    cursor: pointer;
    transition: .3s top;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    display: flex;
}

.card-example .card-desc {
    top: 45%;
    flex-direction: column;
    justify-content: flex-end;
}

.card-opportunity .card-desc {
    top: 63%;
}

.card-opportunity .card-text {
    margin: auto;
    text-align: center;

    font-size: .85rem;
    line-height: 1.25;
}

.card-example .card-text {
    margin-bottom: 10px;
    text-align: right;
    line-height: 1.25;
}

.card-link {
    font-size: 12px;
    text-align: right;
    color: #fff;
}

.card-link:hover {
    color: rgba(255, 255, 255, .8);
}

/* card  */

.services {
    margin-bottom: 10px;
}

.service {
    margin-bottom: 40px;
    text-align: center;
}

.service-text {
    margin-top: 20px;
    font-size: .8rem;
    line-height: 1.12;
}


.line {
    border: none; 
    background-color: #4564a0; 
    color: #4564a0; 
    height: 12px; 
}

.partner-block-pos {
    margin-top: 30px;
    margin-bottom: 50px;
}


/* exclusive-offer */
.ex-off-pdf-link{
    display: flex;
}
.ex-off-pdf-link-text{
    color: #2b519c;
    margin-bottom: 0;
}
.ex-off-share-link{
    display: flex;
    float: right;
}
.ex-off-leftside, .ex-off-rightside{
    margin-top: 100px;
    margin-bottom: 70px;
}
.ex-off-container-pos{
    margin: 80px 40px 50px 40px;
}



/* about-company */
.ab-com-container-pos{
    margin: 40px 20px 25px 20px;
}
.company-column-img-size{
    border-radius: 50%;
}
.about-company-heading{
    font-size: 25px;
    font-weight: 400;
}





/* contacts */
.brands-block{
    border-top: 2px solid #c4c2c2;
    margin-top: 10px;

}
.col-left-brand-block{
    margin-top: 10px;
    width: 25%;
}
.col-right-brand-block{
    width: 75%;
    margin-left:30px;
}
.brand-logo{
    margin-top: 10px;
    border-bottom: 2px solid #c4c2c2;
    
}
.brand-position{
    margin-bottom: 10px;
    margin-right: 10px;
}
#brand-text{
    margin-top: 10px;
    font-size: 12px;
    color: #3f5095;
}
#brand-logo-text{
    font-size: 12px;
}
.addres-block{
    margin-top: 20px;
}
.addres-text-style{
    margin-bottom: 0;
}
.number-block{
    width: 50%;
    display: flex;
    position: relative;
}
.contact-container-pos{
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.contact-title{
    margin-top: 70px;
    margin-left: 110px;
    color: #484848;
    font-weight: 400;
}
.img-contact-pos{
    position: absolute;
    top:0;
}
.phone-number{
    margin-left: 55px;
}
.img-contact-style{
    align-self: center;
    margin-right: 15px;
    
}

@media (max-width:1100px){
    .navbar-logo {
        width: 110px;
    }
}

@media (max-width:1200px) and (min-width: 992px) {
    .card-example .card-text {
        font-size: .9rem;
    }
}

@media (max-width:992px){

    .navbar-logo {
        width: 130px;
    }

    .carousel-control-prev, .carousel-control-next, .carousel-indicators,
    .red-block, .img-info-block {
        display: none;
    }
}

@media (max-width:768px){
    .card .card-desc {
        top: 0;
    }

    .footer {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1030px){
    html {
        font-size: 16px;
    }
}

@media (min-width: 1250px){
    html {
        font-size: 18px;
    }
}

@media (min-width: 1500px){
    html {
        font-size: 20px;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 24px;
    }
}


@media (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}










