*{
    margin:0;
    padding:0;
}
a:hover{
    text-decoration: none;
}
.navbar{
   background-image: url(image/top-header.png);
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 0px;
   border: none;
}
.navbar-header{
    margin: 20px 0 20px 35px;
}
.nav-item{
    margin-right: 40px;
} 
.p-0{
padding: 0;
}
.nav-link{
    color: white;
    font-weight: bold;
}

.first-link:hover{
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #fecd4a;
}
.first-link{
    color: #fecd4a;
}

.red-block{
    height: auto;
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
  
}
.red-block-txt{
    margin: 0 auto;
    color: white;
    text-align: center;
}

.section-header{
    background-repeat: no-repeat;
    background-image: url(image/top-header.png);
    background-size: cover;
    border-radius: 0px;
    border: none;
    padding: 20px 0 20px 0;
}
.number{
    color: white;
    margin-top: 1%;
}
.p-1{
    margin: 0 auto;
}
.section-header-text{
    color: white;
    
}
.col-block-pos{
    margin-top: 5%;
    margin-bottom: 5%;
}
.col-text-style{
    margin-top: 8%;
}
.img-gal-1{
    margin-bottom: 3%;
}
.gal1-block-pos{
    margin-top: 3%;
}
.info-block-pos{
    margin: 3% 0 2% 0;
}

.img-size{
    max-width: 100%;
}
.line{
    border: none; 
    background-color: #4564a0; 
    color: #4564a0; 
    height: 2%; 
}
.partner-block-pos{
    margin-top: 3%;
    margin-bottom: 5%;
}

footer{
    background-color: #131629;
}
#footer-logo-text{
    color: white;
}
.footer-block{
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-text-style{
    color:#b9bbc1;
}





@media (max-width:1000px){
    .red-block{
        display: none;
    }
}


















