<form name="$ctrl.form" class="form-inline" ng-submit="$ctrl.ok()" novalidate>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Выбор периода бронирования</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="timeline"></div>
            </div>
        </div>
        <div class="form-group block-row" ng-class="{'has-error': $ctrl.form.$submitted && !$ctrl.form.$valid}">
            <div class="col-sm-6">
                <label class="control-label">С </label>
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup="{{$ctrl.format}}"
                       ng-model="$ctrl.model.from"
                       is-open="$ctrl.datepickers.fromOpened"
                       datepicker-options="$ctrl.dateOptions"
                       ng-required="true"
                       clear-text="Очистить"
                       current-text="Сегодня"
                       close-text="Закрыть" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.datepickers.fromOpened = !$ctrl.datepickers.fromOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <div class="col-sm-6">
                <label class="control-label">по</label>
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup="{{$ctrl.format}}"
                       ng-model="$ctrl.model.to"
                       is-open="$ctrl.datepickers.toOpened"
                       datepicker-options="$ctrl.dateOptions"
                       ng-required="true"
                       clear-text="Очистить"
                       current-text="Сегодня"
                       close-text="Закрыть" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.datepickers.toOpened = !$ctrl.datepickers.toOpened"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="custom-btn sm blue" type="submit">Сохранить</button>
        <button class="custom-btn sm white" type="button" ng-click="$ctrl.cancel()">Отменить</button>
    </div>
</form>